//font 
@import url("https://fonts.googleapis.com/css?family=DM+Sans");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-DM;
    font-size: 1em;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $primaryDarkClr;
    font-weight: bold;
}

.photographer {

    &__circleimg {
        width: 135px;
        height: 135px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 2px 5px 5px rgba(0,0,0,.15);
    }
}