// Header With Logo 

.header__photographer {
    text-align: left;
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    padding: 30px 80px 6px 80px;
    background-color: #fff;
    z-index: 3;

    @include breakpoint-down(medium) {
        padding: 30px 40px 6px 40px;
    }

    @include breakpoint-down(small) {
        padding: 25px 20px 6px 20px;
    }
}

// Main

.main {

    &__photographer {
        padding: 0px 80px 50px 80px;
        text-align: left;

        @include breakpoint-down(medium) {
            padding: 0px 40px 25px 40px;
        }
    
        @include breakpoint-down(small) {
            padding: 0px 20px 25px 20px;
        }
    }

// Photographer Banner With Info 		

    &__info {
        position: sticky;
        top: 78px;
        width: 100%;
		    background-color: #fff;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 2;

        @include breakpoint-down(small) {
            padding-top: 10px;
            top: 66px;
        }
    }

		&__infobg {
        width: 100%;
        padding: 35px 30px 35px 30px;
        padding-right: 510px;
        background-color: rgba(250, 250, 250, 1);

        @include breakpoint-down(large) {
          padding-right: 150px;
        }

			  @include breakpoint-down(medium) {
		      	padding: 20px;
            padding-right: 150px;
        }
    
        @include breakpoint-down(small) {
            background-color: #fff;
            padding: 0px;
            padding-right: 140px;
        }
	    }
}

.photographer__name2 {
    font-size: 2.5em;
    word-wrap: break-word;
    margin-top: 0px;
    font-weight: lighter;

		@include breakpoint-down(small) {
			font-size: 1.75em;
		}
}

.photographer__city2 {
    padding-bottom: 10px;

		@include breakpoint-down(small) {
			padding-bottom: 0px;
		}
}

.tagLinksNav2 {
  padding-top: 8px;
  
	@include breakpoint-down(small) {
		padding-top: 0px;
	}
}

.photographer__contact {
    position: absolute;
    left: calc(50% - 58.66px);
    top: 75px;

    @include breakpoint-down(large) {
       top: calc(100vh - 160px);
       left: calc(50% - 76.66px);
       padding: 8px 30px; 
    }
     @include breakpoint-down(small) {
        top: calc(100vh - 145px);
     }
}

.photographer__circleimg2 {
	position: absolute;
  right: 30px;
	top: 50%;
  transform: translateY(-50%);
	width: 135px;
	height: 135px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 2px 5px 5px rgba(0,0,0,.15);

	@include breakpoint-down(medium) {
		width: 115px;
		height: 115px;
		right: 20px;
}

	@include breakpoint-down(small) {
		width: 90px;
		height: 90px;
		right: 0px;
}
}

// Price and Likes Sticking to Bottom of Page

.likes-and-price {
    background-color: $primaryLightClr;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 250px;
    padding: 8px 20px 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: calc(100vh - 112px);
    right: -30px;

    @include breakpoint-down(medium) {
        right: -20px;
    }

    @include breakpoint-down(small) {
        top: calc(100vh - 90px);
        padding: 3px 20px 0px 20px;
        right: -10px;
    }

    p {
        color: #000;
        font-size: 1em;

        @include breakpoint-down(small) {
            font-size: .85em;
        }
    }

    i {
        color: #000;
        font-size: 1em;
        padding-left: 5px;

        @include breakpoint-down(small) {
            font-size: .75em;
        }
    }
}

.heart-and-likes {
  display: flex;
}

// Dropdown Menu 

.dropdown {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;


  &__label {
    display: inline-block;
    color: #000;
    font-size: .8em;
    font-weight: $font-bold;
    padding-right: 15px;
  }

  &-toggle {
    appearance: none;
    text-align: left;
    background-color: $primaryDarkClr;
    color: #fff;
    font-size: .8em;
    font-family: $font-DM;
    font-weight: $font-bold;
    padding: 17px 34px 17px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 135px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      position: absolute;
      top: 21px;
      right: 15px;
      font-family: FontAwesome;
      content: '\f078';      
      font-size: .85em;
    }

    &.active::after {
      content: '\f077';
    }
  }

  &-menu {
    z-index: 1;
    list-style: none;
    background-color: $primaryDarkClr;
    color: #fff;
    font-size: .8em;
    font-family: $font-DM;
    width: 135px;
    position: absolute;
    bottom: -131px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;

    &[aria-expanded="true"] {
      visibility: visible;
    }

    li {
      padding: 14px 34px 14px 10px;
      font-weight: $font-bold;
      position: relative;

      &::before {
        content: '';
        width: 90%;
        border-top: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 5px;
      }

      &:hover {
        background-color: $primaryLightClr;
        color: #000;
      }
    }
  }
}

// Portfolio Images 

.portfolio {

    &__row {
      padding-bottom: 75px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px 30px;
      justify-content: center;
    }

    &__column {
        width: 30.8%;
        margin-bottom: 20px;
        overflow-x: hidden;
        cursor: pointer;

        @include breakpoint-down(large) {
            width: 47.2%;
        }

        @include breakpoint-down(medium) {
            width: 100%;
        }

    }

    &__image {
        height: 300px;
        object-fit: cover;
        border-radius: 5px;

        @include breakpoint-down(small) {
            height: 210px;
            object-position: 70% 30%;
        }
    }

    &__image-info {
        display: flex;
        justify-content: space-between;
    }

    &__image-date {
        padding-top: 5px;
    }

    &__image-date, &__image-price {
        font-size: .8em;
        color: #000;
    }
}

.likes-container {
  display: flex;
  color: $primaryDarkClr;
  cursor: pointer;
}

.like-counter {
  color: $primaryDarkClr;
  padding-left: 5px;

  &:hover {
    color: $primaryLightClr;
  }
}


img {
	width: 100%;
}

video {
    @include breakpoint-down(medium) {
        width: 100vw;
    }
}



// Contact Form Modal 
  
  .bground {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;

    @include breakpoint-down(small) {
        background-color: #fff;
    }
  }
  
  .content {
    margin: 5% auto;
    width: 450px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background-color: $primaryLightClr;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-align: left;

    @include breakpoint-down(small) {
        width: 100%;
        margin: 0;
    }
  }
  
  .modal-body {
    padding: 15px 8% 20px 8%;
    margin: 0px auto;
  }

  .form-title {
    font-size: 2.35em;
    line-height: 1.15em;
    color: #000;
	  font-weight: lighter;
    padding-bottom: 20px;
    padding-right: 30px;

		@include breakpoint-down(small) {
			font-size: 1.75em;
		} 
  }
  
  label {
    font-size: 1.2em;
    color: rgba(49, 46, 46, 1);
    display: inline-block;
    margin-bottom: 2px;
  }
  
  input {
    padding: 8px;
    border: none;
    outline: none;
  }

  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    height: 48px;
  }

  .formData {
    position: relative;
  }

  textarea {
    width: 100%;
    border-radius: 5px;
    border: #fff;
    padding: 10px;
    margin-bottom: 0;
    color: #000;
    font-size: 1em;
    font-family: $font-DM;
  }

  .button-submit {
    margin-top: 10px;
    padding: 15px 35px;

    &:hover {
        background-color: $primaryDarkClr;
        color: #fff;
    }
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 5px;
    background-color: #fff;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }

  .text-label {
    font-weight: normal;
    font-size: 16px;
    margin-top: 15px;
  }

// Showing Data Errors 
.formData.error {
    margin-bottom: 0px;
  }
  
  .formData.error input, .formData.error textarea {
    border: 3px solid $primaryDarkClr;
  }
  
  .formData.success input, .formData.success textarea {
    border: 3px solid #279e7a;
  }
  
  .formData small {
    visibility: hidden;
    display: block;
    padding: 2px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: inherit;
    font-size: .85rem;
  }
  
  .formData.error small {
    color: $primaryDarkClr;
    visibility: visible;
  }

// Success Message Styles
.success-background {
    display: block;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    display: none; 

    @include breakpoint-down(small) {
        background-color: #fff;
    }
  }
  
  .success-content {
    margin: 5% auto;
    height: 725px;
    width: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $primaryLightClr;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    @include breakpoint-down(small) {
        width: 100%;
        height: 100%;
        margin: 0;
    }
  }
  
  .success-message {
    font-size: 2.35em;
    line-height: 1.15em;
    color: #000;
  	font-weight: lighter;
  }
  
  .btn-close {
    padding: 15px 35px;
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        background-color: $primaryDarkClr;
        color: #fff;
    }
  }


  // Lightbox modal
  button {
    border: none;
    background-color: #fff;

    &:disabled {
      opacity: .2;
    }
  }
  
  .lbBackground {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    display: none;
  }

  .lbContent {
    margin: 5vh auto;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-align: left;
    // display: flex;


    @include breakpoint-down(large) {
      margin: 10vh auto;
      height: 80vh;
    }

    @include breakpoint-down(medium) {
      margin: 15vh auto;
      height: 70vh;
    }

    @include breakpoint-down(small) {
      margin: 22vh auto;
      height: 60vh;
    }
  }

  .slide {
    margin: 8vh auto;
    width: 70vw;
    height: 75vh;
    overflow: hidden;
    position: absolute;
    left: 15vw;
    display: none;

    

    @include breakpoint-down(large) {
      margin: 8vh auto;
      height: 65vh;
    }

    @include breakpoint-down(medium) {
      margin: 8vh auto;
      height: 55vh;
    }

    @include breakpoint-down(small) {
      margin: 10vh auto;
      height: 40vh;
      width: 75vw;
    }

    &__photo {
      z-index: 99999999;
      border-radius: 5px;
      height: calc(100% - 25px);
      object-fit: cover;
    }
  }

  .active{
    opacity: 1;
  }

  .arrow {
    color: $primaryDarkClr;
    font-size: 1.5em;
    position: absolute;
    top: 48%;
  }

  .left {
    left: 10%;

    &:disabled {
      opacity: .4;
      color: white;
    }

    @include breakpoint-down(large) {
      left: 9%;
    }

    @include breakpoint-down(small) {
      left: 5%;
    }
  }

  .right {
    right: 10%;

    &:disabled {
      opacity: .4;
    }

    @include breakpoint-down(large) {
      right: 9%;
    }

    @include breakpoint-down(small) {
      right: 5%;
    }
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .lb-close {
    top: 13%;
    right: 10%;

    @include breakpoint-down(large) {
      top: 18%;
      right: 9%;
    }

    @include breakpoint-down(medium) {
      top: 22.5%;
    }

    @include breakpoint-down(small) {
      top: 31.5%;
      right: 3.5%;
    }
  }

  .lb-close:before,
  .lb-close:after {
    background-color: $primaryDarkClr;
  }
