//colors 
$primaryDarkClr: #901C1C;
$primaryMediumClr: #D3573C;
$primaryLightClr: rgba(219, 136, 118, 1);
$secondaryNeutralClr: #525252;

//font styles
$font-DM: 'DM Sans', sans-serif;

//font weights for DM Sans
$font-light: 400; 
$font-regular: 500; 
$font-bold: 700;
