@import url("https://fonts.googleapis.com/css?family=DM+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #901C1C;
  cursor: pointer;
}

p {
  color: #901C1C;
}

button {
  display: block;
  background-color: #901C1C;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding: 14px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #db8876;
  color: #000;
}

.photographer__circleimg {
  width: 135px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.topOfPageLink {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #901C1C;
  padding: 2px 15px;
  border-radius: 5px;
  z-index: 999;
}

.topOfPageLink:hover, .topOfPageLink :focus {
  background-color: #db8876;
  color: #000;
}

@media (max-width: 31.1875em) {
  .topOfPageLink {
    margin-bottom: 10px;
  }
}

.hideLink {
  visibility: hidden;
}

.showLink {
  visibility: visible;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  padding: 0px 80px 10px 80px;
  background-color: #fff;
}

@media (max-width: 43.6875em) {
  .header {
    padding: 0px 40px 10px 40px;
  }
}

@media (max-width: 31.1875em) {
  .header {
    padding: 0px 20px 10px 20px;
  }
}

.header__logo-and-nav {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  padding-right: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 59.3125em) {
  .header__logo-and-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.header__logo img {
  width: 150px;
  margin-right: 75px;
}

@media (max-width: 31.1875em) {
  .header__logo img {
    width: 125px;
  }
}

.tagLinksNav {
  padding-top: 8px;
}

@media (max-width: 59.3125em) {
  .tagLinksNav {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.main {
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 59.3125em) {
  .main {
    padding-top: 200px;
  }
}

.photographers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px 125px;
  margin-bottom: 75px;
}

.photographers__title {
  position: fixed;
  right: 80px;
  top: 41px;
  font-size: 1.75em;
  color: #901C1C;
}

@media (max-width: 43.6875em) {
  .photographers__title {
    font-size: .9em;
    top: 50px;
    right: 40px;
  }
}

@media (max-width: 31.1875em) {
  .photographers__title {
    right: 20px;
  }
}

.photographer {
  width: 275px;
  display: none;
}

.photographer__name {
  margin-top: 8px;
  font-size: 1.75em;
  color: #D3573C;
}

.photographer__city {
  font-size: 1em;
  color: #901C1C;
}

.photographer__tagline {
  margin-bottom: 3px;
  font-size: .8em;
  color: #000;
}

.photographer__price {
  margin-bottom: 7px;
  font-size: .7em;
  color: #525252;
}

.showFilter {
  display: block;
}

.tagLink {
  margin-bottom: 5px;
  padding: 2px 6px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  font-size: .75em;
}

.tagLink:hover, .tagLink :focus, .tagLink :active, .tagLink :target {
  background-color: #901C1C;
  color: #fff;
  border: 0.5px solid #901C1C;
}

.tagLink.active {
  background-color: #901C1C;
  color: #fff;
  border: 0.5px solid #901C1C;
}

.header__photographer {
  text-align: left;
  position: fixed;
  display: block;
  width: 100%;
  padding: 35px 80px 0px 80px;
  background-color: #fff;
  z-index: 2;
}

@media (max-width: 43.6875em) {
  .header__photographer {
    padding: 35px 40px 0px 40px;
  }
}

@media (max-width: 31.1875em) {
  .header__photographer {
    padding: 25px 20px 6px 20px;
  }
}

.main__photographer {
  padding: 78px 80px 50px 80px;
}

@media (max-width: 43.6875em) {
  .main__photographer {
    padding: 78px 40px 25px 40px;
  }
}

@media (max-width: 31.1875em) {
  .main__photographer {
    padding: 68px 20px 25px 20px;
  }
}

.main__info {
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
}

@media (max-width: 31.1875em) {
  .main__info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main__infobg {
  width: calc(100% - 160px);
  padding: 35px 30px 35px 30px;
  background-color: #fafafa;
}

@media (max-width: 43.6875em) {
  .main__infobg {
    width: calc(100% - 80px);
    padding: 20px;
  }
}

@media (max-width: 31.1875em) {
  .main__infobg {
    width: 100%;
    background-color: #fff;
    padding: 0px;
  }
}

.photographer__name2 {
  font-size: 3em;
  margin-top: 0px;
  padding-right: 90px;
  font-weight: lighter;
}

@media (max-width: 31.1875em) {
  .photographer__name2 {
    font-size: 1.75em;
  }
}

.photographer__city2 {
  padding-bottom: 10px;
}

@media (max-width: 31.1875em) {
  .photographer__city2 {
    padding-bottom: 0px;
  }
}

.photographer__tagline2 {
  padding-right: 94px;
}

@media (max-width: 31.1875em) {
  .tagLinksNav2 {
    padding-top: 0px;
    padding-right: 85px;
  }
}

.photographer__contact {
  position: absolute;
  left: 300px;
  top: 75px;
}

@media (max-width: 59.3125em) {
  .photographer__contact {
    top: calc(100vh - 160px);
    left: calc(50% - 160px);
    padding: 8px 30px;
  }
}

@media (max-width: 43.6875em) {
  .photographer__contact {
    left: calc(50% - 120px);
  }
}

@media (max-width: 31.1875em) {
  .photographer__contact {
    top: calc(100vh - 130px);
    left: calc(50% - 100px);
  }
}

.photographer__circleimg2 {
  position: absolute;
  right: 190px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 135px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 43.6875em) {
  .photographer__circleimg2 {
    width: 115px;
    height: 115px;
    right: 100px;
  }
}

@media (max-width: 31.1875em) {
  .photographer__circleimg2 {
    width: 90px;
    height: 90px;
    right: 40px;
  }
}

.likes-and-price {
  background-color: #db8876;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  padding: 8px 20px 0px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: calc(100vh - 113px);
  right: 100px;
}

@media (max-width: 43.6875em) {
  .likes-and-price {
    right: 60px;
  }
}

@media (max-width: 31.1875em) {
  .likes-and-price {
    top: calc(100vh - 90px);
    padding: 3px 20px 0px 20px;
    right: 30px;
  }
}

.likes-and-price p {
  color: #000;
  font-size: 1em;
}

@media (max-width: 31.1875em) {
  .likes-and-price p {
    font-size: .85em;
  }
}

.likes-and-price i {
  color: #000;
  font-size: 1em;
}

@media (max-width: 31.1875em) {
  .likes-and-price i {
    font-size: .75em;
  }
}

.portfolio__row {
  margin-top: 285px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 59.3125em) {
  .portfolio__row {
    margin-top: 300px;
  }
}

@media (max-width: 43.6875em) {
  .portfolio__row {
    margin-top: 275px;
  }
}

@media (max-width: 31.1875em) {
  .portfolio__row {
    margin-top: 165px;
  }
}

.portfolio__column {
  width: 30.8%;
  margin-bottom: 20px;
  overflow-x: hidden;
}

@media (max-width: 59.3125em) {
  .portfolio__column {
    width: 47.2%;
  }
}

@media (max-width: 43.6875em) {
  .portfolio__column {
    width: 100%;
  }
}

.portfolio__image {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 31.1875em) {
  .portfolio__image {
    height: 210px;
    -o-object-position: 70% 30%;
       object-position: 70% 30%;
  }
}

.portfolio__image-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__image-date {
  padding-top: 5px;
}

.portfolio__image-date, .portfolio__image-price {
  font-size: .8em;
  color: #000;
}

img {
  width: 100%;
}

@media (max-width: 43.6875em) {
  video {
    width: 100vw;
  }
}
/*# sourceMappingURL=styles.css.map */